include ../blocks/Header/Header.pug
include ../blocks/Menu/Menu.pug
include ../blocks/ClipButton/ClipButton.pug
include ../blocks/PictureSection/PictureSection.pug
include ../blocks/CardsSection/CardsSection.pug
include ../blocks/Card/Card.pug
include ../blocks/Popup/Popup.pug
