mixin CardsSection(modifier)
  section.CardsSection&attributes(attributes)
    .CardsSection__container.container
      h2.CardsSection__title.title Карточки
      .CardsSection__content
        .CardsSection__cards 
          .CardsSection__card   
            +Card('01','bridge','How to increase your productivity with a Music','Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…','Eugenia','July  24, 2019')
          .CardsSection__card   
            +Card('02','Water','How to increase your productivity with a Music','Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…','Eugenia','July  24, 2019')
          .CardsSection__card   
            +Card('03','bridge','How to increase your productivity with a Music','Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…','Eugenia','July  24, 2019')
          .CardsSection__card   
            +Card('04','bridge','How to increase your productivity with a Music','Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…','Eugenia','July  24, 2019')
          .CardsSection__card   
            +Card('05','bridge','How to increase your productivity with a Music','Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…','Eugenia','July  24, 2019')
          .CardsSection__card   
            +Card('06','forest','How to increase your productivity with a Music','Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…','Eugenia','July  24, 2019')
          .CardsSection__card   
            +Card('07','forest | art','How to increase your productivity with a Music','Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…','Eugenia','July  24, 2019')
          .CardsSection__card   
            +Card('08','nature','How to increase your productivity with a Music','Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…','Eugenia','July  24, 2019')
          .CardsSection__card   
            +Card('09','nature','How to increase your productivity with a Music','Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…','Eugenia','July  24, 2019')
          .CardsSection__card   
            +Card('10','nature','How to increase your productivity with a Music','Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…','Eugenia','July  24, 2019')
        .CardsSection__button 
          +ClipButton('ЗАГРУЗИТЬ ЕЩЕ')
